@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;600&display=swap');

body,
html {
  z-index: inherit;
  background: transparent;
}

.animate-delay-0_5s {
  --animate-delay: 0.5s;
}

.animate-delay-1_5s {
  --animate-delay: 1.5s;
}

.background {
  z-index: -1;
}
