@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background-color: #2d3142;
}

.mainTittle {
  font-family: 'Quicksand', sans-serif;
}

.mainTittle2 {
  --animate-delay: 1.5s;
}

.mainTittle1 {
  --animate-delay: 0.5s;
}
